body, html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#sidebar{
  height: 100%;
  width: 20%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: auto;
}

#sidebar p{
  margin: 2%;
  margin-left: 5%;
}

.playerbox{
  margin: 2%;
  font-family: 'Trade Winds';
  font-size: 150%;
  color:#fff;
  border-bottom-color: #fff;
  border-bottom-style:solid;
  border-bottom-width: 1px;
}

#main{
  height: 100%;
  width: 80%;
  margin-left:20%;
  background-color:rgb(228, 228, 228);
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background: url(matte.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#table { 
  width:100%;
  text-align:center; 
  padding:20px; 
  position: absolute;
} 

.card, .playercard {
  position: relative; 
} 

.action{
  width: 200px;
  height: 10px;
  color: #fff;
  top: 85%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.action input{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.action input[type="submit"]
{
  border: none;
  outline: none;
  background: rgba(16, 165, 170);
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.action input[type="submit"]:hover
{
  cursor: pointer;
  background: rgba(16, 165, 170, 0.733);
  color: #fff#000;
}

