body, html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* The image used 
  background-image: url(matte.jpg);*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background: url(matte.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.loginbox{
  width: 200px;
  height: 10px;
  color: #fff;
  top: 85%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0 ;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  background: rgb(192, 0, 0);
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #db4646;
  color: #fff#000;
}

.table { 
  width:auto;
  height: 100px; 
  text-align:center; 
  padding:20px; 
  top: 25%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
} 

.table img {
  position: relative;
  max-width:500%; 
  height:50%;
  width:50%;
} 

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.playingCards .card {
  width:auto;
  height: 100px; 
  text-align:center; 
  padding:20px; 
  top: 25%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.playingCards .card .rank, .playingCards .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}

.playingCards .card.clubs {
    color: #000 !important;
}

.playingCards .card.diamonds {
    color: rgb(136, 0, 0) !important;
}

.playingCards .card.hearts {
    color: rgb(136, 0, 0) !important;
}

.playingCards .card.spades {
    color: #000 !important;
}